<launch>
  <node name="traj_opti_node1" pkg="trajectory_optimization" type="traj_opti_node" output="screen">
  <param name="alg" value="24" type="int"/>
  <param name="offset" value="2.8" type="double"/>
  <param name="time_limit" value="0.5" type="double"/>
  <param name="dt" value="0.1" type="double"/>

  <param name="ws" value="12.0" type="double"/>
  <param name="wc" value="0.1" type="double"/>

  <!-- <param name="time" value="2.0" type="double"/> -->
  <param name="mean_v" value="2.8" type="double"/>
  <param name="init_time" value="0.3" type="double"/>

  <param name="alpha" value="1.0" type="double"/>
  <param name="d0" value="0.7" type="double"/>
  <param name="r" value="0.5" type="double"/>

  <param name="alphav" value="0" type="double"/>
  <param name="v0" value="2.5" type="double"/>
  <param name="rv" value="0.5" type="double"/>

  <param name="alphaa" value="0" type="double"/>
  <param name="a0" value="3.5" type="double"/>
  <param name="ra" value="0.5" type="double"/>

  <param name="bos" value="3.0" type="double"/>
  <param name="vos" value="8.0" type="double"/>
  <param name="aos" value="10.0" type="double"/>

  <param name="gd_value" value="5.0" type="double"/>
  <param name="gd_type" value="1" type="int"/>

  </node>
</launch>
 
